$pink-color: #FF7F7F;
@font-face { 
  font-family: "Montserrat Bold"; 
  src: url("../assets/font/Montserrat-Bold.ttf"); 
}
@font-face { 
  font-family: "Montserrat Regular"; 
  src: url("../assets/font/Montserrat-Light.ttf"); 
}

.main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 1156px;
  width: 100%;
  background-position: 0, 0;
  background: url(../assets/img/background.png) no-repeat;
  background-size: cover;
  z-index: -5;
}

.wrapper {
  flex-direction: column;
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 16%;
    opacity:0.75;
    background-color: $pink-color;
    z-index: -4;
  }
}

.logo__image {
  margin-top: 15px;
  margin-left: 56px;
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    margin: 0;
    padding: 0;
    width: 737px;
    padding-right: 60px;
  }
  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Montserrat Bold;
    font-size: 25px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    transition: all 0.5s ease;
    &:hover {
      color: rgb(29, 10, 13);
      background-size: 100% 2px;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  &__link {
    margin-right: 58px;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}

// _______________________main____________________________________
@keyframes running_arrow {
  0%  { margin-left: 5px;}
  50%{ margin-left: 20px;}
  100% { margin-left: 5px;}
}

.main-article {
  &__body {
    margin-top: 137px;
    margin-left: 96px;
  }
  &__title h2 {
    margin: 0;
    font-family: Montserrat Bold;
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__text {
    font-family: Montserrat Regular;
    font-size: 30px;
    word-spacing: 2px;
    color: white;
    line-height: 1.3;
    margin: 42px 0 0 0;
  }
  &__button {
    // display: flex;
    position: relative;
    line-height: 66px;
    color: $pink-color;
    width: 324px;
    background-color: white;
    margin-top: 52px;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 0 10px rgb(248, 245, 245);

    }
  }

  &__button img {
    animation: running_arrow 1s linear 0s infinite;
    display: block;
    position: absolute;
    float: left;
    top: 17%;
    width: 40px;
    height: 40px;
  }
}
.button {
  height: 66px;
  font-family: Montserrat Bold;
  font-size: 25px;
  text-align: center;
  border-radius: 33px;
  border: 0;
  text-transform: uppercase;
  outline: none;
}

// _________________________Article Dish_________________________-
.dish {
    position: relative;
    background-color: $pink-color;
    z-index: -6;
  
  &__body {
    max-width: 940px;
    padding-top: 330px;
    margin: 0px auto;
      }
  
  &__header {
    text-align: center;
  }
  
  &__title {
    color: white;
    letter-spacing: 3px;
  }

  &__text {
    font-family: Montserrat Regular;
    font-size: 22px;
    color: white;
    margin-top: 50px;
    line-height: 32px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
  }
}
.title {
  font-family: Montserrat Bold;
  font-size: 43px;
  text-transform: uppercase;

}
.item-dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

		&__icon {
      display: flex;
		  align-items: center;
      justify-content: center;
      width: 214px;
      height: 214px;
		}

		&__title {
      font-family: Montserrat Bold;
      font-size: 28px;
      text-align: center;
      color: white;
      margin-top: 41px;
		}

		&__text {
      font-family: Montserrat Regular;
      font-size: 17px;
      margin: 28px 0px;
      color: white;
      text-align: center;
		}
}
.dish__fly-item1 {
  position: absolute;
  bottom: 218px;
  left: 0px;
}
.dish__fly-item2 {
  position: absolute;
  bottom: 338px;
  right: 59px;
}

// _____________________Article order______________
.order {
  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: 135px;
    margin-bottom: 56px;
    width: 84%;

  }

  &__view img{
    width: 465px;
    height: 464px;
    border-radius: 50%;
    border: white solid 1px;
  }
  
  &__description {
    width: 574px;
    text-align: left;
  }

  &__title {
    color: $pink-color;
  }

  &__text {
    margin: 59px 0 0 0;
    font-family: Montserrat Regular;
    font-size: 27px;
    word-spacing: 2px;
    color: $pink-color;
    line-height: 1.3;

  }

  &__button {
    margin-top: 72px;
    width: 323px;
    background-color: $pink-color;
    color: white;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 0 10px rgb(110, 107, 107);

    }
  }
}
// _____________________Article subscribe______________
.subscribe {

  &__body {
    position: relative;
    padding-top: 180px;
    margin: 0px;
    text-align: center;
    
  }
  &__fly-item3 {
    position: absolute;
    top: 57px;
    left: 75px;
  }
  &__fly-item4 {
    position: absolute;
    top: 34px;
    right: 174px;
  }

  &__title {
    color: $pink-color;
  }
  &__title h3 {
    margin: 0px;
  }

  &__text {
    font-family: Montserrat Regular;
    font-size: 27px;
    color: $pink-color;
    margin-top: 59px;
  }

  &__form {
    margin: 84px auto 0px;
    display: flex;
    justify-content: space-between;
    width: 770px;
    background-color: #F3F3F3;
    height: 64px;
    border-radius: 32px;
  }

  &__input {
    border: none;
    border-radius: 32px;
    padding-left: 25px;
    margin: 0;
    outline: none;
    appearance: none;
    height: 64px;
    width: 548px;
    background-color: #F3F3F3;
    color: #797979;
    font-family: Montserrat Regular;
    font-size: 20px;
  }

  &__button {
    width: 222px;
    background-color: $pink-color;
    color: white;
    transition: all 0.3s ease;
      &:hover {
      box-shadow: 0 0 10px rgb(110, 107, 107);
    }
  }
}
// ________________________FOOTER_________________

.footer {

  &__body {
    position: relative;
    background: url(../assets/img/footer_background.png) no-repeat;
    background-size: cover;
    height: 956px;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
  }
  &__fly-item5 {
    position: absolute;
    top: 133px;
    left: 439px;
  }

  &__description {
    max-height: 284px;
    flex-basis: 40%;
    padding-bottom: 168px;
  }

  &__title h4 {
    margin: 0;
    font-size: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat Regular";
  }

  &__subtitle {
    margin: 55px 0 0 0;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat Regular";
  }
  &__subtitle p {
    margin: 0;
  }

  &__sotial-networks {
    margin: 35px 0 0 0;
  }

  &__sotial-networks a {
    margin-right: 16px ;
  }

  &__sotial-networks img {
    &:hover {
      transform: scale(1.2);
    }
  }

  // .footer__about
  &__group {
    padding-bottom: 168px;
    flex-basis: 47%;
    justify-content: space-between;
    display: flex;


  }
  &__about {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 284px;

  }

  &__list {
    margin: 0px;
    padding: 37px 0px 0px 0px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: white;
    font-family: Montserrat Regular;
    font-size: 25px;
    line-height: 42px;
    &:hover {
      color: rgb(130, 94, 214);
      }
  }

  &__services {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 284px;
  }

  &__other {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 284px;
  }
}





