body {
    background-color: darkgrey;
}
.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
.child {
    border: 1px solid black;
    width: 90%;
    height: 25%;
}