body {
  margin: 0;
}
.main {
  height: 100vh;
  background-color: #b9b8b8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: calc(50vh - 200px);
  margin: auto;
  width: 400px;
  height: 300px;
  border: 2px solid black;
  background-color: #ffffff;
}

.mainText {
  font-size: 12px;
  text-align: justify;
  color: black;
  width: 350px;
  height: 170px;
}
.mainText::first-letter {
  font-size: 20px;
}
.chooseForm {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.chooseForm label {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 12px;
  font-family: 'Tahoma';
}
.chooseForm input {
  width: 150px;
}

.chooseForm select {
  width: 156px;
}

.wrapperColor, .wrapperFontStyle {
  margin-top: 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.reloadButton {
  position: relative;
  overflow: hidden;
  width: 25px; 
  height: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  border: none;
}
.reloadButton::after {
  content: "";
  position: absolute;
  width: 23px; 
  height: 23px;
  top: 0;
  left: 1px;
  background-image: url("../assets/img/reload_button1.png");

  background-position: center;
  background-size: cover;
}
.reloadButton:hover::after {
  transform: rotate(360deg);
}
.reloadButton::after {
  transition: 1s ease;
}

.wrapperButton {
  display: flex;
  align-items: center;
}
